$primary-color: #fdfdfd;
$primary-color-hover: #fafafa;
$secondary-color: #01b05b;
$secondary-color-hover: #008c48;
$black: #1b1f24;
$black-hover: #050607;
$dark: #262b32;
$white: #fdfdfd;
$code: #40e0d0;
$heart: #01b05b;
