@import 'dimens';
@import 'colors';

* {
	font-family: 'Open Sans', sans-serif;
}

.roundedbackground {
	padding: 1em;
	border-radius: 1em;
}

.shadow {
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.light {
	background-color: $white;
	color: $dark;
	transition: ease 0.5s;

	input {
		border: 1px solid $black;
		background-color: $white;
		color: $black;
		transition: ease 0.5s;
	}

	img {
		filter: invert(0);
		transition: ease 0.5s;
	}

	.roundedbackground {
		background: rgba(253, 253, 253, 0.42);
	}
}

.dark {
	background-color: $dark;
	color: $white;
	transition: ease 0.5s;

	input {
		border: 1px solid $white;
		background-color: $dark;
		color: $white;
		transition: ease 0.5s;
	}

	img {
		filter: invert(1);
		transition: ease 0.5s;
	}

	.roundedbackground {
		background: rgba(27, 31, 36, 0.42);
	}
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

button {
	width: 100%;
	padding: 1em;
	font-weight: bold;
	border-radius: 0.5em;
	border: 0px;
	font-size: $body1;
	background: $secondary-color;
	color: $primary-color;

	&:hover {
		background: $secondary-color-hover;
	}
}

form {
	width: 100%;
	display: flex;
	flex-flow: column;

	input {
		padding: 1em;
		border-radius: 0.5em;
		font-size: $body1;
		margin: 1em 0;
	}

	label {
		font-size: $body1;
		font-weight: bold;
		width: 100%;
	}
}

a {
	color: $secondary-color;
	text-decoration: none;
	margin-bottom: 1em;

	&:hover {
		color: $secondary-color-hover;
		text-decoration: underline;
	}
}
